.about
    display: flex
    flex-direction: column
    padding-top: 8vh
    justify-content: center
    align-items: center
    .title
        color: #7a7878bd
        font-weight: bolder
    h2
        span
            color: #d11212
    .about-row
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        gap: 5vw
        justify-content: space-around
        .about-right
            width: 30vw
            display: flex
            flex-direction: column
            gap: 2vh
            i
                color: #d11212
            .para1
               padding-top: 15vh
            video
                width: 30vw
        .about-left
            img
                width: 50vw
            .bookTable
                margin-top: 4vh
                border: 2px solid black
                display: flex
                flex-direction: column
                gap: 2vh
                justify-content: center
                align-items: center
                padding: 2vh
                p
                    color: #d11212
                    font-weight: bold
   
