.menu
    display: flex
    flex-direction: row
    gap: 4vh
    justify-content: center
    align-items: center
    padding-top: 10vh
    span
        color: #df4e4f
.nav
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    li
        button
            color: #000
            text-decoration: none
            // border-bottom: 2px solid #4e4e4ea8
            &:hover
                border-bottom: 2px solid #df4e4f
                color: #000
.tab-content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    h4
        color: #df4e4f
.carousel 
  position: relative
  overflow: hidden
  width: 100vw
.carousel-wrapper 
  display: flex
  overflow: hidden
.carousel-content 
  display: flex
  transition: transform 0.5s ease
.carousel-slide 
  min-width: 33.33% 
  box-sizing: border-box
  padding: 10px
  text-align: center
.carousel-button 
  position: absolute
  top: 50%
  transform: translateY(-50%)
  background: rgba(0, 0, 0, 0.5)
  color: white
  border: none
  padding: 10px
  cursor: pointer
.carousel-button.prev 
  left: 10px
.carousel-button.next 
  right: 10px
.carousel-indicators 
  position: absolute
  bottom: 10px
  left: 50%
  transform: translateX(-50%)
  display: flex
  gap: 5px
.carousel-indicator 
  width: 10px
  height: 10px
  background: rgba(0, 0, 0, 0.5)
  border-radius: 50%
  cursor: pointer
.carousel-indicator.active 
  background: white

