.table
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    padding-top: 11vh
    p
        text-align: center
    h2
        span
            color: #ce1212
.table-row
    display: flex
    flex-direction: row
    width: 80vw
    .table-right
        background-color: #f8f8f8
        .form-group
            background-color: #f8f8f8
            padding: 12vh 1vw
            display: flex
            flex-direction: column
            gap: 15px
            .form-row 
                display: flex
                flex-direction: row
                gap: 30px
                input
                    padding: 1vh 2vw
        